.books_list{
    max-width: 1730px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 0px 15px 20px 15px;
    margin: 0 auto;
}

.total_books{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.not_found{
    padding: 10px;
    margin: 50px 0px;
    text-align: center;
    color: #aaa;

    @media screen and (max-width:600px){
        font-size: 25px;
    }
}